body {
	font-family: Helvetica;
}

.form-box {
	margin: 0 auto;
	margin-top: 10px;
	background-color: #e8e8e8;
	width: 300px; 
	padding: 20px;
}
input {
	float: right;
	width: 200px;
}
h1 {
	text-align: center;
}